@page "/"
@using BrightChain.Engine.Services
@using Stardate;
@inject BrightBlockService BrightBlockService

<h1>BrightChain: The Revolution(ary) Network</h1>

BrightChain is coming online soon.

@code {
    OldStardate currentStardate = new OldStardate(DateTime.UtcNow);
}
<p>Birthday: Stardate @OldStardate.BrightChainBirthDay.Double</p>
<p>Stardate: @currentStardate.Double</p>
<p>Database GUID: @BrightBlockService.RootBlock.Guid.ToString()</p>