@page "/"
@using BrightChain.Engine.Helpers;

<h1>BrightChain: The Revolution(ary) Network</h1>

BrightChain is coming online soon.

@code {
    Stardate currentStardate = new Stardate(DateTime.UtcNow);
}
<p>Birthday: Stardate @Stardate.BrightChainBirthDay.Double</p>
<p>Stardate: @currentStardate.Double</p>