@page "/"
@using Stardate;

<h1>BrightChain: The Revolution(ary) Network</h1>

BrightChain is coming online soon.

@code {
    OldStardate currentStardate = new OldStardate(DateTime.UtcNow);
}
<p>Birthday: Stardate @OldStardate.BrightChainBirthDay.Double</p>
<p>Stardate: @currentStardate.Double</p>