@page "/"
@using BrightChain.Engine.Helpers;

<h1>BrightChain: The Revolution(ary) Network</h1>

BrightChain is coming online soon.

@code {
    const Double brighchainBirthday = Stardate.BrightChainBirthDay;
    Stardate currentStardate = new Stardate(DateTime.UtcNow);
}
<p>Birthday: Stardate @brighchainBirthday</p>
<p>Stardate: @currentStardate</p>